<header class="u-clearfix u-header" id="sec-80fa">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="~/Home/Index" class="u-image u-logo u-image-1" data-image-width="166" data-image-height="187">
            <img src="~/images/favicon.png" class="u-logo-image u-logo-image-1" data-image-width="64">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0; font-weight: 700;">
                <a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-shadow u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-4-base u-text-grey-90 u-text-hover-palette-5-base" href="#" style="text-shadow: 2px 2px 8px rgba(0,0,0,0.4);">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </symbol>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-20 u-text-grey-70 u-unstyled u-nav-1">
                    <li class="u-nav-item">
                        <a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-4-base u-text-grey-90 u-text-hover-palette-5-base" href="../Home/Index" style="padding: 10px;">Главная</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-4-base u-text-grey-90 u-text-hover-palette-5-base" href="../Home/Clients" style="padding: 10px;">Клиенты</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-4-base u-text-grey-90 u-text-hover-palette-5-base" style="padding: 10px;">Документы</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-4-base u-text-grey-90 u-text-hover-palette-5-base" style="padding: 10px;">О нас</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" style="padding: 10px;">Главная</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="Clients.html" style="padding: 10px;">Клиенты</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" style="padding: 10px;">Документы</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" style="padding: 10px;">О нас</a>
                        </li>
                    </ul>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>